extend match
  
block match_content
  .row
    .col-md-7
      h2 Chat
      h3(title="An estimation of how \"positive\" all chat was.", style="display:inline-block")
        p Positivity Score:
      .progress
        - var pct = (match.sentiment.comparative+1)/2
        .progress-bar(class=pct>0.5 ? "progress-bar-success" : "progress-bar-danger", style="width:#{pct*100}%")  #{match.sentiment.comparative.toFixed(2)} (#{match.sentiment.words.length} keywords)
      //pre=JSON.stringify(match.sentiment, null, 2)
      table.table.table-hover.table-responsive.match-top
        thead
          tr
            th Hero
            th Time
            th Message
        tbody
          each message in match.chat
            - var p = match.players[message.slot] || {}
            - var hero = constants.heroes[p.hero_id]
            - var slot_color = constants.player_colors[p.player_slot]
            tr(class=p.isRadiant ? "success" : "danger")
              if hero
                td: img(src=hero.img, title=hero.localized_name, style="border-left-color:#{slot_color}").player-color
              else
                td
                  .player-color(style="border-left-color:#{slot_color}")=message.slot
              td.format-seconds(data-format-seconds=message.time)=message.time
              td=message.key
    .col-md-5
      include ads/skyscraper
    
append footer_assets