@media (min-width: 1200px) {
    .container {
        width: 1230px;
    }
}
/* ads */

.leaderboard {
    margin: 0 auto;
    display: block;
}

.skyscraper {
    margin: 2em auto;
    display: block;
}

.match-top {
    margin-top: 1.5em;
}
.match-top h1 {
    font-size: 38px;
    font-weight: 700;
}
h3 img {
    padding-right: 1em;
}
.table-img {
    white-space: nowrap;
    min-width: 150px;
}
.img-text {
    float: left;
    text-align: center;
    font-size: 10px;
}
.ability {
    width: 30px
}
.item {
    width: 35px;
}
.kill {
    width: 40px;
}
.dmg {
    width: 40px;
}
td.abilities {
    padding: 8px 1px !important;
}
td.abilities img {
    height: 35px;
    width: 35px;
}
* {
    font-family: 'Roboto Slab', sans-serif;
}
.navbar-default {
    background-color: #BBF0FD;
    border: none;
    border-radius: 0px;
}
.hero img {
    width: 50px;
}
.tooltip-inner {
    white-space: normal;
}
.mapContainer {
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 600px;
}
.mapContainer-small {
    width: 300px;
    height: 300px;
}
.map {
    width: 100%;
}
.icon {
    width: 15px;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: table;
    height: 100%;
    width: 100%;
}
footer {
    background-color: #BBF0FD;
}
.sticky_footer_row {
    display: table-row;
    height: 1px;
}
.sticky_footer_row.expand {
    height: auto;
}
td {
    vertical-align: middle !important;
}
td>img.user {
    margin-right: .5em;
}
.attribVal {
    color: #f5c433;
    font-weight: bolder;
}
.big {
    font-size: 80px;
}
.large-cheese {
    font-size: 70px;
    border: 5px solid rgb(189, 155, 20);
    border-radius: 50%;
    background-color: yellow;
    padding: 6px 15px 8px;
}
.medium-cheese {
    font-size: 40px;
    border: 3px solid rgb(189, 155, 20);
    border-radius: 50%;
    background-color: yellow;
    padding: 3px 11px;
}
.meter_wrapper {
    margin-bottom: 1em;
}
.meter_wrapper > p {
    font-size: 1.3em;
}
.meter {
    height: 20px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    background: #777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
    display: block;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(248, 253, 24);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}
.meter > span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.progress-bar {
    color: #FFF;
    text-shadow: 0px 0px 2px #000;
}

.progress_text {
    margin: 0 auto;
}

.progress {
    margin: 0 auto;
}

#messages {
    margin: 3em auto 20em;
}

#loading {
    height: 8em;
    margin: 0 auto;
}
.btn-dark {
  color: #fff;
  background-color: #848484;
  border-color: #848484;
}

.wards button {
    display: block;
    margin: 10em auto;
}

.charts button {
    margin-right: .5em;
}

.player-color {
    border-left: 10px solid;
}